.profile {
   max-width: 32rem;
   margin: auto;
   box-shadow: 2px 2px 2px 1px rgba(48, 48, 49, 0.4);
   background-color: rgb(255, 255, 255);
   margin-top: 2rem;
   border-radius: 5px;
   border: 1px solid rgba(48, 48, 49, 0.1);
}
.description {
   padding-top: 3rem;
   padding-bottom: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   
  
}
.description img {
    margin-bottom: 2rem;
}
.avatar {
    width: 10rem;
    height: auto;
    border-radius: 50%;
}

.name {
    font-size: 2.4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

/* stats panel */
.stats {
    background-color: rgb(236, 236, 236);
    width: 100%;
    display: flex;  
    border: 1px solid rgba(48, 48, 49, 0.1);
}
.stats > * {
    width: calc(100% / 3);
}
.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 0;
    border-right: 1px solid rgba(48, 48, 49, 0.1);
       
}
.label {
    font-size: 1.4rem;
}
.quantity {
    color: rgba(0, 0, 0, 1);
    font-size: 1.8rem;
    font-weight: 700;
}